{
  auto_https off
}

{$PUBLIC_URL}:3000 {

  @http {
    header X-Forwarded-Proto http
  }
  redir @http https://{host}{uri} 308

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "interest-cohort=()"
  }

  encode zstd gzip

  log {
    output stdout
    format console
  }

  @nextauth path /api/auth/*
  handle @nextauth {
    reverse_proxy {$FRONTEND_UPSTREAM}
  }

  handle_path /static/* {
    root * /srv/static
    file_server
  }

  handle_path /media/* {
    root * /srv/media
    file_server
  }

  @backend {
    path /api/* /admin/*
    not path /api/auth/*
  }
  handle @backend {
    reverse_proxy {$BACKEND_UPSTREAM}
  }

  handle {
    reverse_proxy {$FRONTEND_UPSTREAM}
  }
}


